*.class
bin/
.gradle/
.settings/
build/

my-lib/*.class
my-lib/bin/
my-lib/.gradle/
my-lib/.settings/
my-lib/build/

product/*.class
product/bin/
product/.gradle/
product/.settings/
product/build/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

product/*.jar
product/*.war
product/*.ear

*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
